@font-face {
   font-family: '鏂规鍏颁涵缁嗛粦';
   font-display: swap;
   src: url('file:///C:/Users/Maozz/AppData/Local/Mobirise.com/Mobirise/projects/project-2020-07-13_132458/fonts/%E9%8F%82%E8%A7%84%EE%84%9C%E9%8D%8F%E9%A2%81%E6%B6%B5%E7%BC%81%E5%97%9B%E7%B2%A6/font.TTF');
}
